.App {
  text-align: center;
}
a.nav-link:hover {
  text-decoration: underline;
}
img{
  height: 600px;
  width: 600px;
}
#cvButton{
  width: 150px;
}
#icon{
  width: 50px;
  height:50px;
}
#projet{
  width: 300px;
  height:300px;
}

#projet img{
  width: 400px;
  height: 150px;
}
.competences {
  display: flex;
  gap: 10px;
  margin: 10px 0;
}

.competence-icon {
  width: 40px;
  height: 40px;
}
.contact-info {
  background-color: #f8f9fa;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.contact-item {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.contact-item i {
  font-size: 1.5rem;
  margin-right: 10px;
  color: #007bff;
}

.contact-item p, .contact-item a {
  margin: 0;
  font-size: 1rem;
}

.contact-item a {
  color: #007bff;
  text-decoration: none;
}

.contact-item a:hover {
  text-decoration: underline;
}

form h4 {
  margin-bottom: 20px;
}
form button {
  background-color: #007bff;
  border: none;
  color: white;
}

form button:hover {
  background-color: #0056b3;
}